body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f5feff;
    color: #253ab1;
  }

  textarea {
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
    font-family: monospace;
    border: 1px solid #0092cc;
    background-color: #96e1ff;
    color: #1600e0;
    padding: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #061e8a;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #00d9ff;
    color:#061e8a;
  }

  table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #e5f8ff;
    color: #061e8a;
  }

  th, td {
    padding: 10px;
    border: 1px solid #0069cc;
    text-align: left;
  }

  th {
    background-color: #ccf9ff;
  }

  pre {
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    color: #00026b;
  }

  .feedback-container {
    background-color: #e5fdff;
    border: 2px solid #1f00cc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #0b006b;
  }

  .feedback-message h3 {
    margin-top: 0;
  }

  .copy-button {
    margin-top: 10px;
    background-color: #2500cc;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
  }

  .copy-button:hover {
    background-color: #0b00a3;
  }

  h1, h2, h3 {
    color: #001c99;
  }

  hr {
    border: 0;
    border-top: 2px solid #0003cc;
    margin: 20px 0;
  }